<div class="d-flex justify-content-center align-items-center h-100">
    <div class="align-items-center">
        <form>
            <h1><img class="logoLogin" src="../../../../assets/Logo_Smart_Agro.png" alt="Logo_Smart_Agro"></h1>
            <div class="row">
                <div class="col-md-6">
                    <label for="exampleInputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="col-md-6">
                    <label for="exampleInputApellido" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="exampleInputApellido">
                </div>
                <div class="col-md-6">
                    <label for="exampleInputDI" class="form-label">No. Identificación</label>
                    <input type="text" class="form-control" id="exampleInputID">
                </div>
                <div class="col-md-6">
                    <label for="exampleInputFechaNacimiento" class="form-label">Fecha nacimiento</label>
                    <input type="date" class="form-control" id="exampleInputFechaNacimiento">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Mostrar Contraseña</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-style">Crear</button>
                <a href="/auth/login" class="text-secondary-emphasis text-end enlace">Regresar</a>
            </div>
        </form>
    </div>
</div>
  
